@charset "utf-8";

html { }
body { color:#666; font-size:14px; line-height:1em; }
body.rest { font-family:돋움,Dotum,굴림,Gulim,Apple-Gothic,Helvetica,sans-serif; }
body.safari { font-family:Helvetica; }
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,button,p,blockquote,th,td { margin:0; padding:0; -webkit-text-size-adjust:none;}
img,fieldset{border:0}
ul,ol,li{list-style:none;}
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
hr {display:none;}
a {color:inherit;}
a, a:link {color:#333; text-decoration:none;}
em,i,address {font-style:normal; font-weight:normal;}
legend,caption {display:none; clear:both;}
input,textarea,select,button,table{ font-size:inherit;font-family:inherit;line-height:inherit; }/**font-size:100%;*/
table{border-collapse:collapse}
textarea, input {outline-color:-moz-use-text-color; outline-style:none; outline-width:medium;}
textarea { resize:none; }
label { cursor:pointer; }
a:visited { color:#333; }
a:hover, a:active { color:#333; text-decoration:none; }

input[type="button"], input[type="text"],input[type="image"],input[type="submit"] { -webkit-appearance:none; -webkit-border-radius:0;}
input:checked[type="checkbox"]{ background-color:#fff; -webkit-appearance:checkbox; }
button, input[type="reset"], input[type="button"], input[type="submit"] { line-height:normal !important; }

article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }
command, datalist, keygen, mark, meter, progress, rp, rt, ruby, time, wbr { display: inline; }

